.media_item_containerEditor {
	height: 666px;
	position: relative;
}
.trigger_hover {
	position: relative;
	max-width: fit-content;"
}
.show_on_hover {
    opacity: 0;
}
.trigger_hover:hover .show_on_hover {
    opacity: 1 !important;
}
.trigger_hover .show_on_hover{
    -webkit-transition: opacity 1.6s ease; /* Safari */
    transition: opacity 1.6s ease;
}
.trigger_hover:before {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    left:0;
    right:0;
    background-color:rgba(0,0,0,0);
}
.trigger_hover::before{
    -webkit-transition: background-color 1.6s ease;
    transition: background-color 1.6s ease;
}
.trigger_hover:hover::before{
    background-color: rgba(0,0,0,0.61);
}
